@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: #000000;
    text-decoration: none;
}

.container{
    display: flex;
    position: relative;
    background-color: white;
    align-self: center;
    width: 768px;
    border-radius: 30px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.signIn, .logIn{
    z-index: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.signIn h1{
    margin-top: 70px;
}

.signIn input{
    background-color: #eee;
    width: 70%;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.signIn button{
    background-color:  #512da8;
    color: white;
    margin-top: 15px;
    margin-bottom: 70px;
    padding: 10px 45px;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    font-size: 12px;
    font-weight: 600;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    margin:0 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.overlap{
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 100%;
    left:50%;
    border-radius: 150px 0 0 100px;
    text-align: center;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.toggle{
    background-color: #512da8;
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    transform: translateX(0);
    transition: all 0.9s ease-in-out;
}

.container.active .overlap{
    background-color: #512da8;
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}
.overlap-right{
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.6s ease-in-out;
    right: 0;
    transform: translateX(0%);
}

.container.active .overlap-right{
    transform: translateX(200%);
}

.overlap-left {
    position: absolute;
    transform: translateX(-200%);
    transition: all 0.6s ease-in-out;
}

.container.active .overlap-left{
    transform: translateX(0%);
}

.overlap-right button , .overlap-left button{
    background-color:  #512da8;
    color: white;
    margin-bottom: 70px;
    padding: 10px 45px;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    cursor:pointer;
    font-size: 12px;
    font-weight: 600;
}